
@media screen and (max-width:600px) {
    /* GENERAL CONTENT */
    .pages {
        justify-content: center;
    }

    .logo {
        margin: 10px 5px;
    }

    .icons img {margin-right: 5px;}
    .icons p {display: none;}

    .main {
        margin: 20px;        
    }

    /*USER PROFILE: */

    /* ADMIN PROFILE VIEW */
    .main_info {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: auto;
        gap: 20px;
    }
    .pfp {
        order: 1;
        flex: 1;
        max-width: 200px;
        min-width: 80px;
        flex: 1;
        align-self: center;
        border-radius: 50%;
        /* margin: 5px; */
        
    }

    .pfp img {
        border-radius: 50%;
    }

    .info {
        margin: 0px;
        order: 2;
        min-width: 250px;
    }

    .user_title {
        margin-top: 5px;
        padding-top: 5px;
        height: 30px;
    }

    h1 {font-size: 20px;}
    h4 {font-size: 15px;}

    .interests {
        flex-wrap: wrap;
        gap: 5px;
        margin: 5px 0px;
        height: fit-content;
    }

    .my_images {
        flex-wrap: wrap;
        gap: 15px;
    }


    .admin {
        flex: 1;
        order: 3;
        /* margin-bottom: 10px; */
    }
    

    /* ADMIN PAGE */
    .data {
        flex-direction: column;
        font-size: 10px;
    }

    .data-tables {
        min-width: fit-content;
    }
    .data-statistics {
        min-width: fit-content;
    }
 
    table.scroll {
        font-size: 10px;
    }

    table.scroll form input {
        font-size: 10px;
    }

    /* table.scroll management */
    table.scroll tbody tr {
        height: 30px;
    }


    /* HOME AND SEARCH */
    .possible-match {
        flex-direction: column;
    }

    .user img {
        border-radius: 50%;
    }


    /* SETTINGS */
    form.settings textarea {
        max-width: 250px;
    }
}


    